.form-notification {
    @apply bg-primary-darker mt-6 md:mt-8;
}

.form-notification-wrap {
    @apply mx-auto relative;
    max-width: 1920px;
}

.form-notification-title {
    @apply mb-3 text-white md:mb-4 xl:mb-6 headline-2;
}

.form-notification-fields {
    @apply py-6 md:py-8;
    @screen md {
        max-width: 50%;
    }
    @screen xl {
        max-width: 494px;
    }
}
.form-notification-field-name {
    @apply mb-3 md:mb-4 xl:mb-6;
}
.form-notification-banner {
    @apply md:absolute top-0 bottom-0 right-0  w-full;
    img {
        @apply object-cover w-full h-full md:pl-5;
    }

    @screen md {
        max-width: 50%;
    }
}

.form-notification-field-name,
.form-notification-field-email {
    .label {
        @apply text-white;
    }
    .field {
        .input {
            @apply bg-white;
            &:focus-within {
                box-shadow: none !important;
            }
        }
        .help {
            @apply bottom-0;
        }
    }
}
.form-notification-field-button {
    @apply btn btn-secondary mt-6 xl:mt-8;
    @screen md {
        width: 220px;
    }
}
