/* INPUT BASE */
.field {
    @apply relative flex items-center  border border-gray-300 rounded-lg py-2 px-3 shadow-xs;
    .input {
        @apply focus:outline-0 block w-full;
    }

    &.has-prefix {
        .input {
            @apply ml-2;
        }
    }
    &.has-suffix {
        .input {
            @apply mr-2;
        }
    }

    .message {
        @apply absolute left-0 text-gray-500 translate-y-full -bottom-1 body-3;
        &.is-error {
            @apply text-error-500;
        }
    }
}

/* INPUT GROUP */
.input-group {
    & > *:not(:last-child) {
        input {
        }
    }
    & > *:not(:first-child) {
        input {
        }
    }
}

/* CONFIG DEFAULT */
input::placeholder {
    @apply text-gray-500;
}

input:-ms-input-placeholder {
    @apply text-gray-500;
}

input::-ms-input-placeholder {
    @apply text-gray-500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
