/* INPUT BASE */
.field {
    @apply relative flex items-center bg-white border border-gray-300 rounded-lg py-2 px-3 shadow-xs duration-150  focus-within:border-primary-300 focus-within:shadow-xs-primary-100;

    .input {
        @apply focus:outline-0 block w-full;
    }

    .suffix {
        @apply text-gray-500;
    }

    .message {
        @apply absolute left-0 text-gray-500 translate-y-full -bottom-1 body-3;
    }

    &.has-prefix {
        .input {
            @apply ml-2;
        }
    }
    &.has-suffix {
        .input {
            @apply mr-2;
        }
    }

    &.is-error {
        @apply border-error-300 focus-within:shadow-xs-error-100;
        .message,
        .suffix {
            @apply text-error-500;
        }
    }

    &.disabled {
        @apply bg-gray-100 pointer-events-none;
        .input {
            @apply bg-gray-100;
        }
    }
}

/* CONFIG DEFAULT */
input::placeholder {
    @apply text-gray-500;
}

input:-ms-input-placeholder {
    @apply text-gray-500;
}

input::-ms-input-placeholder {
    @apply text-gray-500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
