.page-blog-category-head {
    @apply xl:mb-8 md:mb-6 mb-4;
}

.page-blog-category-tab {
    @apply -translate-y-1/2;
}

.page-blog-category-tab-wrap {
    @apply container;
}

.page-blog-category-top-view {
    @apply container xl:mt-6 md:mt-4 mt-3 grid lg:grid-cols-11 xl:gap-x-6 lg:gap-x-4 gap-y-3 max-lg:hidden;
    & > * {
        @apply xl:p-6 md:p-4 p-3 bg-white;
    }

    .left {
        @apply xl:col-span-8 lg:col-span-7;
        .card-item {
            .card-blog-description {
                display: -webkit-box;
                @apply line-clamp-3;
            }
        }
    }

    .right {
        @apply xl:col-span-3 lg:col-span-4 xl:space-y-6 lg:space-y-4 space-y-3;

        .title {
            @apply title-1 text-primary max-lg:col-span-2;
        }

        .list {
            @apply xl:space-y-6 lg:space-y-4 max-lg:grid max-lg:grid-cols-2 max-lg:gap-3 max-md:grid-cols-1;
        }

        .card-item {
            @apply relative;

            &:nth-child(n + 5) {
                @apply max-lg:hidden;
            }

            &:not(:last-child)::before {
                content: '';
                @apply absolute xl:-bottom-3 md:-bottom-2 -bottom-1.5 transform translate-y-1/2 w-full lg:border-b lg:border-gray-200;
            }

            .card-blog-image {
                @apply hidden;
            }
        }
    }
}

.page-blog-category-top-posts {
    @apply container;
}

.page-blog-category-top-posts-wrap {
    @apply grid lg:grid-cols-2 xl:gap-x-8 lg:gap-x-6 max-lg:gap-y-4 border-b border-gray-200 col-span-full xl:pb-8 lg:pb-6;

    .left {
        .card-item {
            .card-blog-description {
                display: -webkit-box;
                @apply line-clamp-3;
            }
        }
    }

    .right {
        @apply xl:space-y-5	lg:space-y-4 space-y-3 max-lg:p-4 max-md:p-3 max-lg:rounded max-lg:bg-gray-100;
        .card-item {
            @apply xl:pb-5 lg:pb-4 pb-3 border-b border-gray-200 last:pb-0 last:border-none max-lg:grid-cols-none;
            .card-blog-image {
                @apply max-lg:hidden;
            }
        }
    }
}

.page-blog-category-body {
    @apply container grid grid-cols-7 xl:gap-x-8 lg:gap-x-6 max-lg:gap-y-6 max-md:gap-y-4 xl:pb-16 md:pb-11 pb-8;
    .left {
        @apply lg:col-span-5 col-span-full;

        .card-items {
            @apply xl:space-y-8 md:space-y-6  max-md:grid max-md:grid-cols-2 max-md:gap-x-2 max-md:gap-y-3;
        }
    }
    .right {
        @apply lg:col-span-2 col-span-full  xl:space-y-12 lg:space-y-8 space-y-6;
        .banner-ads-wrap {
            @apply max-lg:hidden;
        }
    }
}

.page-blog-category-sidebar {
    @apply space-y-2 xl:space-y-4 md:space-y-3 max-md:hidden;
    .title {
        @apply pb-1 text-gray-700 border-b border-gray-500 title-2;
    }
    .body {
        @apply grid max-lg:grid-cols-2 max-lg:gap-3 max-md:grid-cols-1  max-md:gap-0 xl:gap-y-4 lg:gap-y-3;

        .card-item {
            @apply xl:pb-4 lg:pb-3 border-b border-gray-200 last:border-none last:pb-0 max-lg:border-none;
        }
    }
}

.page-blog-category-button {
    @apply md:mt-6 mt-4 flex justify-center;

    .btn-see-more {
        @apply btn btn-md;
    }
}

.page-blog-category-banner-body {
    @apply container h-full flex flex-col justify-center;
    .breadcrumb {
        .breadcrumb-item,
        .icon {
            @apply text-white;
        }

        span.breadcrumb-item {
            @apply opacity-70;
        }
    }
}

.page-blog-category-banner-title {
    @apply xl:mt-6 md:mt-4 mt-3 text-white display-2;
}

.page-blog-category-breadcrumb {
    @apply container;
}

.page-blog-category.layout-2 {
    .page-blog-category-head {
        @apply xl:pt-4 md:pt-3 pt-2 xl:pb-12 md:pb-8 pb-6 xl:mb-12 md:mb-8 mb-6 bg-gray-100;
    }

    .page-blog-category-tab {
        @apply translate-y-0;
    }

    .tabs {
        @apply rounded xl:mt-3 md:mt-2 mt-1.5 xl:space-x-4 md:space-x-3 space-x-2 shadow-none;

        .tab {
            @apply hover:bg-transparent hover:text-primary relative;
            &.active {
                @apply text-primary bg-transparent;
            }

            &:not(:last-child):before {
                content: '';
                @apply absolute top-1/2 xl:-right-2 md:-right-1.5 -right-1 border-r border-gray-200 h-full transform -translate-y-1/2 translate-x-1/2;
            }
        }
    }

    .page-blog-category-top-posts-wrap {
        @apply mb-0 xl:mt-12 md:mt-8 mt-6 xl:p-6 md:p-4 p-3 bg-white border-none xl:gap-x-6 md:gap-x-4 max-md:gap-y-3;

        .right {
            @apply grid md:grid-cols-2 xl:gap-6 md:gap-4 gap-3 space-y-0;

            .card-item {
                @apply pb-0 border-none;

                .card-blog-body {
                    @apply max-lg:mt-0;
                }
            }
        }
    }

    .page-blog-category-body {
        @apply xl:pb-12 md:pb-8 pb-6;

        .left {
            @apply col-span-full;
            .card-items {
                @apply grid lg:grid-cols-3 grid-cols-2 xl:gap-6 md:gap-4 max-md:gap-x-2 max-md:gap-y-3 space-y-0;
            }
        }

        .right {
            @apply lg:hidden;
        }
    }
}
